# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# IDE/Editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# App artifacts
uploads/
app.db
instance/

# Logs
*.log

# Flask
*.egg-info/
